.blue-background {
  background-color: #0083CB;
  color: white;
}

.orange-background {
  background-color: #F9AC31;
  color: #FEEDD2;
}

.ui.container {
  box-shadow: none;
  border: none;
}

i {
  color: #80C1E5;
}

.ui.header {
  color: white;
}

.ui.medium.centered.header {
  color: #A33391;
}



